[Unit]
Description=Run GOX Finish GOX repair cycle regularly

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30s
Persistent=true
Unit=gox-finish-gox.service

[Install]
WantedBy=timers.target
